
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-image: url(images/background.png);
  background-size: cover;


}

header {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  width: 100%;

  justify-content: center;
}

.top-bar {
height:1.8rem;
padding: .5 0;
}

ul {
  margin-left:auto;
}

.top-bar a{
color: white;
font-size:small;
  }

.navbar-brand img{
  height:4rem;

}


.navbar {
    background-color:black;
    font-weight:600;
    height:auto;
    letter-spacing:.05rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.2);
    z-index:1;
}

.nav-item{
     padding:.5rem;
} 

.nav-link.active {
    color:#EDD2C1;
}

.nav-link {
 padding:0;
 margin:0;
}

.carousel-inner{
  max-height:38rem !important;
}


footer {
  background-color:#7f6c52;
  

}
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

button {
  border: 3px solid white;
  display: flex;
  background-color: transparent;
  border-radius: 5px;
  font-family: 'Sono', sans-serif;
  color: white;
  transition-duration: .4s;
  flex-wrap: nowrap;
  flex-grow: 0.5;

  
}

.gamesButton1,
.gamesButton2,
.gamesButton3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px auto;
  width: 230px;
  height: 300px;
  font-size: 20px;  
  background-image: url(background.png);
  background-size: cover;
  object-fit: contain;
  margin-top: 130px;

}

.gamesButton1:hover,
.gamesButton2:hover,
.gamesButton3:hover {
  transform: scale(1.40);
  transition: transform .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  object-fit: contain;
  background-size: cover;
  font-weight: bolder;
  font-size: xx-large;
}

h4 {
  text-align: center; /* centers the text under the buttons */
}

.gamesButton1
{
  background-image: url(images/jumperImg.png);
}

.gamesButton2
{
  background-image: url(images/rocketImg.png);
}

.gamesButton3
{
  background-image: url(images/Solar.png);
}

.video-section video {
  margin-top: 60px;
  margin-bottom: 100px;
  border-radius: 8px;
}

footer {
  background-color: black;
  height: 30px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:large;
  color: white;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
}